.avatar ion-toolbar {
  padding: 0 12px;
}

.avatar ion-col {
  cursor: pointer;
}

.avatar input[type=checkbox] {
  display: none;
}

.avatar input[type=checkbox]:checked + label img {
  border: 2px solid var(--ion-color-primary);
  border-radius: 50000px;
}

.avatar .enviar {
  padding: 0.75rem;
}

@media screen and (min-width: 1024px) {
  .avatar ion-button {
    width: 50%;
    margin: 2rem auto;
  }
}
