*{
    font-family: 'Exo',sans-serif;
}
.ion-page{
    background-image: url('../../assets/background/bg.jpg');
    background-size: cover;
    background-position: center;
}
.title{
    color: #fff;
}
.buttons{
    width: 80%;
    margin: 0 auto;
    ion-button{
        margin: 20px 0;
    }
}
