.close {
    position: absolute;
    top: 24px;
    justify-content: center;
    border-radius: 9999px;
    left: 29px;
}
.logo{
    flex: 1;
}
//.pagName {
//     position: absolute;
//     height: 27px;
//     left: 150px;
//     top: 209px;
//     text-transform: uppercase;
// }

.ionInput {
    width: 100%;
    height: 33px;
    //top: 312px;
    //left: 29px;
   // right: 29px;
   // position: absolute;
    background-color: white;
    border-style: groove;
    box-sizing: border-box;
    border: 1px solid #8E51FF;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #8E51FF;
    display: block;
    justify-content: center;

}

.Pass {
    width: 80%;
    height: 33px;
    top: 389px;
    left: 29px;
    position: absolute;
    background-color: white;
    border-style: groove;
    box-sizing: border-box;
    border: 1px solid #8E51FF;
    border-radius: 4px;
    color: #8E51FF;
    display: block;

}

.inputTitle {
    font-size: 12px;
    position: absolute;
    top: 283px;
    left: 12px;
    color: #8E51FF;
    font-weight: bold;
}

.passTitle {
    font-size: 12px;
    position: absolute;
    top: 361px;
    left: 12px;
    color: #8E51FF;
    font-weight: bold;
}

    p{
        margin: 12px 0 !important;
    }
.ascessButton {
    position: absolute;
    width: 80%;
    height: 33px;
    left: 29px;
    top: 512px;
    border-radius: 4px;
    background-image: -moz-linear-gradient(#8E51FF, #5651D4);

}
.content{
    padding-top: 48px;
    width: 80%;
    margin: 0 auto;
}
.check{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.checkBox {
    box-sizing: border-box;
    // position: absolute;
    // width: 12px;
    // height: 12px;
    // left: 137px;
    //top: 565px;
    background: #FFFFFF;
    border: 1px solid #8E51FF;
    color: #8E51FF ;
    border-radius: 4px;
    margin-right: 12px;

}
.pagName{
    //text-align: center;
    //width: 100%;
    color: #8E51FF;
}
.headerIcon{
    color: #8E51FF;
    margin-left: 24px;
}
ion-select{
    *{
        color: #fff !important;
        opacity: 1 !important;
    }

}