html {
  scroll-behavior: smooth;
}

.list ion-item .conteudo {
  padding: 1rem;
}

.list ion-item .header {
  display: flex;
  align-items: center;
}

.list ion-item .header img {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: .75rem;
}

.list ion-item p {
  display: block;
  margin: 0 !important;
}

.noticia {
  padding-bottom: 4rem;
}

.noticia .cometarios ion-card {
  padding: 0.25rem 0.75rem;
}

.noticia .cometarios ion-card .header {
  display: flex;
  align-items: center;
}

.noticia .cometarios ion-card .header img {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .5rem;
}

.noticia .cometarios ion-card .header span {
  font-size: 0.8rem;
  margin: 0;
}

.noticia * {
  color: #fff;
}

.noticia .desc, .noticia .actions {
  padding: 0 1.5rem;
}

.noticia .main img {
  width: 100%;
  border-radius: 0 0 .5rem .5rem;
}

.noticia .title {
  padding: 0 1.5rem;
  position: relative;
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
  height: 8.25rem;
  top: -8.25rem;
  margin-bottom: -7.25rem;
  font-size: 0.9375rem;
  border-radius: 0 0 .5rem .5rem;
  display: flex;
  align-items: center;
}

.noticia .title .desktop {
  display: none;
}

.noticia hr {
  background-color: #474747;
}

.noticia .votar {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 2rem;
}

.actions ion-icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 .5rem;
}

.actions ion-icon:nth-of-type(1) {
  margin-left: 0 !important;
}

.sem-not {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sem-not * {
  color: #585858;
}

.sem-not ion-icon {
  font-size: 36px;
}

.meuPop {
  top: -7rem;
}

.meuPop.success #ion-react-wrapper {
  background-color: var(--ion-color-success);
}

.meuPop.danger #ion-react-wrapper {
  background-color: var(--ion-color-danger);
}

.meuPop #ion-react-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem 0;
}

.meuPop #ion-react-wrapper h1 {
  text-align: center;
  font-weight: 800;
}

.meuPop #ion-react-wrapper ion-icon {
  font-size: 5.25rem;
}

.meuPop #ion-react-wrapper .enviar {
  text-align: center;
  padding-top: 1rem;
}

.meuPop #ion-react-wrapper .enviar ion-input {
  width: 100%;
  height: 33px;
  background-color: white;
  border-style: groove;
  box-sizing: border-box;
  border: 1px solid #fafafa;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #000;
  display: block;
  justify-content: center;
}

.showVotos {
  text-align: center;
}

@media screen and (min-width: 650px) {
  html {
    font-size: 12px;
  }
  .noticia {
    height: unset;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .noticia {
    height: unset;
    padding: 3.5rem 20rem;
  }
  .noticia .title {
    height: 15.25rem;
    top: -15.25rem;
    margin-bottom: -14.25rem;
    flex-direction: column;
    align-items: start;
    padding: 0 5rem;
  }
  .noticia .title .desktop {
    display: block;
  }
  .noticia .title h5 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .noticia .desc {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  html {
    font-size: default;
  }
}

@media screen and (min-width: 1400px) {
  .noticia {
    padding: 4rem 30rem;
  }
}

@media screen and (min-width: 1600px) {
  .noticia {
    padding: 4rem 40rem;
  }
}

@media screen and (min-width: 2000px) {
  .noticia {
    padding: 4rem 50rem;
  }
}
